version: "3.8"

services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=99
      - PGID=100
      - UMASK=022
      - TZ=Etc/UTC
    volumes:
      - /mnt/user/appdata/jellyfin:/config
      - /mnt/user/medias:/data/medias:ro
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped